html, body{
	margin-left:5px; margin-right:5px; 
	padding-right:10%; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:  #e6f0ff;
	
}

table {   
	border-collapse:collapse;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:72%;
}
 
th {

	background:none repeat scroll 0 0 #ffffb3;
	padding:10px;
	color: #000000;
}

tr {
	
	text-align:center;	
}
.list tr:hover td{
    transform: scale(1.02);
}


tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #ffffcc}	
 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 70%; background: #ffffb3; margin-top: 0px; padding:15px 0px 15px 15px; text-align: center; color: #000000;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF; }
#container {width: 100%; margin:auto}
#container h3 {color: #000; }
#container #content {margin-top: 20px;}

.add-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	
	margin-bottom: 15px;
	background: #cccccc;
}